<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THANATCHPHAKORN</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="static/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="static/css/main.css?ver=1.1.0" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip"></a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Activities</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="red">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/profile.jpg" alt="Image"/></a></div>
          <div class="h2 title">Thanatchphakorn Sutthidech</div>
          <p class="category text-white">Third-year student at BBA, Chulalongkorn University</p>
          <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">HIRE ME</a>
          <a class="btn btn-primary" href="static/thanatchphakorn_resume.pdf" download data-aos="zoom-in" data-aos-anchor="data-aos-anchor">RESUME PDF</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/thanatphakorn.sutthidech" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/thanatchphakorn-sutthidech-046876219/" rel="tooltip" title="Follow me on Linkedin"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/dhanat8" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/dhanat_8/?hl=en" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        <!----------------------    ABOUT    ---------------------->

<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hello! I am Thanatchphakorn Sutthidech, or you can call me Oat. I am a third-year marketing student at BBA, Chulalongkorn University</p>
            <p>I love exploring new skills, especially those essential for the 21st century. Although I have not had much experience in the industry, I am willing to get pains and grow. Whatever lies ahead, I'll nail it!</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">20</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">dhanatcha8@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+6698-663-5884</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">888/684 Phaholyothin 18 rd. Chompol, Chatuchak, Bangkok, 10900</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">Thai, English, Chinese</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        <!----------------------    SKILLS    ---------------------->
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">PYTHON</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">WEB DEVELOPMENT</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">MICROSOFT OFFICE</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">TEAM WORK</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div><span class="progress-value">100%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">FAST LEARNER</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">MULTITASKING</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--   EXPERIENCES     -->

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Activities</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>August 2019 - August 2021</p>
            <div class="h5">University Club</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">President of Shi Leelart Club</div>
            <p>I had to coordinate with many people in a team and the university staff. Also, I had to push people to work in an amiable way and prepare them for the competition.
            It was very challeging to manage the work under the COVID-19 situation seeing that people could not meet face-to-face for offline activities. I had a chance to make frinds with many wonderful people.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>DECEMBER 2019</p>
            <div class="h5">UNIVERSITY GAME</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">The National University Sports Competition</div>
            <p>I got invited to participate in Ballroom and Latin dance competition from the university-level club. It was hard in the first place during the audition as I was not a professional athlete like other people in the club. However, I got a medal for my university! It was such a good chance to push myself beyond my limits.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>2019 - Present</p>
            <div class="h5">CASE COMPETITION</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">THE FINALIST</div>
            <p>I had many chances to compete in a case competition as a BBA student. Although I never win, I have learnt many new lessons. In most of the case competitions I joined, I made it through the final round. I got a chance to form a team with students from other universities or faculties. Having to work with people from different social circle also taught me a valuable lesson - team work.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019 - Present</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Business Administration</div>
            <p class="category">Chulalongkorn University</p>
            <p>Currently, I am a third-year marketing student at BBA international programme. Having completed almost all of the major courses, I cannot wait to put myself in a real world situation and learn how to apply what I studied in a real life workplace.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2019</p>
            <div class="h5">High School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Language and Mathematics</div>
            <p class="category">Triam Udom Suksa School</p>
            <p>I joined Triam Udom Suksa school in 2017. At that time, I also was the vice-president of the gifted programme. I had a change to coordinate with teachers and other school offices. It was such a nice experience to learn how to approach people.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/images/staticmap.png')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">


<!--                  FORM TO SET UP -->
                  <div class="card-body">
                    <div class="p pb-3" align="center"><strong>Feel free to contact me </strong>
                    <img style="margin-top: 2.5%;" width="50%" src="static/images/line_qrcode.JPG">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">888/684 Phaholyothin 18 rd. Chompol, Chatuchak, Bangkok, 10900</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+6698-663-5884</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p><a href="mailto:dhanatcha8@gmail.com">dhanatcha8@gmail.com</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/thanatphakorn.sutthidech"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a>
        <a class="cc-twitter btn btn-link " href="https://www.linkedin.com/in/thanatchphakorn-sutthidech-046876219/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
        <a class="cc-google-plus btn btn-link" href="https://github.com/dhanat8"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link" href="https://www.instagram.com/dhanat_8/?hl=en"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a></div>

      <div class="h4 title text-center">Thanatchphakorn Sutthidech</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="static/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="static/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="static/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="static/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="static/js/aos.js?ver=1.1.0"></script>
    <script src="static/scripts/main.js?ver=1.1.0"></script>
  </body>
</html>
</html>